@{
    ViewData["Title"] = "Upload Photos";    
    


}
<div class="container-fluid ">
          <div class="row ">
            <div class="col-md-10 mx-auto">
                <div class="card text-center" style="margin-top:5%;">
                <div class="card-header">
                <h5 class="card-title">Add photos to attract interest to your ad</h5>
                </div>
                <div class="card-body">
                
                    
                        <div class="row file">
                           
                                <div class="file-loading">
                                    <input id="input-fas-25" type="file" multiple>
                                </div>
                            
                        </div>


                   
                    
                </div>
                </div>
            </div>
          </div>
</div>
<script>
$(document).ready(function() {
    var photo_group_id=@ViewData["photo_group_id"];
 
    $("#input-fas-25").fileinput({
        theme:"fas",
        uploadUrl: "/FileUpload/uploadfile",
        maxFileCount: 5,
        initialPreviewAsData: true,
        uploadAsync: false,
        deleteUrl: "/FileUpload/filedelete",
        overwriteInitial: false,
        maxFileSize: 500,
        showRemove:false,
        uploadExtraData: function(previewId, index) {
            return {key: index,photogroupid: photo_group_id};
            
        } 
  
})
$(".file").find('.file-input').addClass( "col " );
  $(".file").find('.file-preview').addClass( "row " );
 $(".file").find('.file-drop-zone').addClass( "col " );
});




</script>