@{
    ViewData["Title"] = "Home Page";
    var properties = (List<Property>)ViewBag.list;
}
         

 <section class="jumbotron text-center" id="section-bg" style="background-image: url('https://localhost:5001/images/Background.jpg');height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
        <div class="container mt-5" style=height:70vh; ">
            <h1 class="jumbotron-heading font-weight-bold" style="color:white;padding-top:7%;">Search 312,922 listings from trusted Realtors</h1>
            <p class="lead text-light" ></p>
           
         <form action="/home/search" method="get">
             
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active" id="residential">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Residential
                </label>
                <label class="btn btn-secondary" id="commercial">
                  <input type="radio" name="options" autocomplete="off"> Commercial
                </label>
               </div>
        
<form asp-controller="home" 
      asp-action="search">
   
                <div class="input-group input-group-lg">


                <select class="custom-select col-6" name="province">
                  <option selected>Choose Province</option>
                  <option value="British Columbia">British Columbia</option>
                  <option value="Manitoba">Manitoba</option>
                  <option value="New Brunswick">New Brunswick</option>
                  <option value="Ontario">Ontario</option>
                  <option value="Saskatchewan">Saskatchewan</option>
                  <option value="Quebec">Quebec</option>
                </select>
                
                  <input type="text" class="form-control col-4" placeholder="Minimum Price" aria-label="" name="minprice">


                  
                <input type="text" class="form-control col-4" placeholder="Maximum Price" aria-label="" name="maxprice">  

                <div class="input-group-append">
                  <button class="btn btn-light" type="submit">Search
                    
                  </button>
                
                </div>
               </form>
                </div>
                




          </div>
      </section>


      

      <div class="album py-5 bg-light">
        <div class="container">
          <div>
            
          </div>

          <div class="row">
            @foreach (var p in properties)
            {
                
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@p.main_photo" alt="Card image cap">
                <div class="card-body">
                   <h5 class="card-title">@p.property_name</h5>
                  <p class="card-text">@p.description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="home/view_property?property_id=@p.property_id" role="button" class="btn btn-sm btn-outline-secondary">View</a>
                    
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            }


          </div>
        </div>
      </div>


      <script>

     

          $(document).ready(function () {
           
            $('#commercial').on('click', function() {
                      $('#section-bg').css('background-image', 'url(/images/Background1.jpg)');
                 
                  });
                      $('#residential').on('click', function() {
                      $('#section-bg').css('background-image', 'url(/images/Background.jpg)');
                      
                  });
          });
     </script>
     
<style>
  .body-content {
    padding-left:0px;
    padding-right: 0px;
}


</style>